.keyboards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  .key {
    flex: 1 1 auto;
    background: unset;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 1rem 3rem;

    &.active {
      background: #0048ac;
      color: #ffffff;
    }

    &.inactive {
      background: #969494;
      color: #ffffff;
    }

    &.disabled,
    &:disabled,
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width: 400px) {
  .keyboards {
    gap: 8px;

    .key {
      font-size: 2rem;
      padding: 0.8rem 1.2rem;
    }
  }
}
